<div>
    <h2>
        <span jhiTranslate="eLearningApp.course.home.title">Courses</span>
        <button class="btn btn-primary float-right jh-create-entity create-course-manage" [routerLink]="['/', { outlets: { popup: ['course-manage-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="eLearningApp.course.home.createLabel">
            Create new Course
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eLearningApp.course.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="eLearningApp.course.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="slug"><span jhiTranslate="eLearningApp.course.slug">Slug</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="eLearningApp.course.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortDesc"><span jhiTranslate="eLearningApp.course.shortDesc">Short Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categories"><span jhiTranslate="eLearningApp.course.categories">Categories</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span jhiTranslate="eLearningApp.course.active">Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="premium"><span jhiTranslate="eLearningApp.course.premium">Premium</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="courseHrs"><span jhiTranslate="eLearningApp.course.courseHrs">Course Hrs</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tagLine"><span jhiTranslate="eLearningApp.course.tagLine">Tag Line</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="premiumTill"><span jhiTranslate="eLearningApp.course.premiumTill">Premium Till</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="playlistName"><span jhiTranslate="eLearningApp.course.playlist">Playlist</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="eLearningApp.course.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of courses ;trackBy: trackId">
                <td><a [routerLink]="['../course-manage', course.id ]">{{course.id}}</a></td>
                <td>{{course.name}}</td>
                <td>{{course.slug}}</td>
                <td>{{course.type}}</td>
                <td>{{course.shortDesc}}</td>
                <td>{{course.categories}}</td>
                <td>{{course.active}}</td>
                <td>{{course.premium}}</td>
                <td>{{course.courseHrs}}</td>
                <td>{{course.tagLine}}</td>
                <td>{{course.premiumTill | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="course.playlistId">
                        <a [routerLink]="['../play-list-manage', course.playlistId  ]" >{{course.playlistName}}</a>
                    </div>
                </td>
                <td>
                    {{course.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../course-manage', course.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-manage/'+ course.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-manage/'+ course.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="courses && courses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
