
<div *ngIf="state">
    <h2><span jhiTranslate="eLearningApp.state.detail.title">State</span> {{state.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eLearningApp.state.name">Name</span></dt>
        <dd>
            <span>{{state.name}}</span>
        </dd>
        <dt><span jhiTranslate="eLearningApp.state.slug">Slug</span></dt>
        <dd>
            <span>{{state.slug}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'state-manage/'+ state.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
