<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaxRateLabel" jhiTranslate="eLearningApp.taxRate.home.createOrEditLabel">Create or edit a Tax Rate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!taxRate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="taxRate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eLearningApp.taxRate.displayName" for="field_displayName">Display Name</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                [(ngModel)]="taxRate.displayName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eLearningApp.taxRate.totalTaxInPct" for="field_totalTaxInPct">Total Tax In Pct</label>
            <input type="number" class="form-control" name="totalTaxInPct" id="field_totalTaxInPct"
                [(ngModel)]="taxRate.totalTaxInPct" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eLearningApp.taxRate.stateId" for="field_stateId">State Id</label>
            <input type="number" class="form-control" name="stateId" id="field_stateId"
                [(ngModel)]="taxRate.stateId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
